@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon-x9i9xv.eot');
  src:  url('fonts/icomoon-x9i9xv.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon-x9i9xv.ttf') format('truetype'),
    url('fonts/icomoon-x9i9xv.woff') format('woff'),
    url('fonts/icomoon-x9i9xv.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e909";
}
.icon-heart-fill:before {
  content: "\e90a";
}
.icon-heart-1:before {
  content: "\f08a";
}
.icon-grid-view:before {
  content: "\e927";
}
.icon-row-view:before {
  content: "\e928";
}
.icon-view-1:before {
  content: "\e92d";
}
.icon-view-2:before {
  content: "\e92e";
}
.icon-view-4:before {
  content: "\e916";
}
.icon-view-3:before {
  content: "\e926";
}
.icon-menu2:before {
  content: "\e120";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-search2:before {
  content: "\e036";
}
.icon-zoomin:before {
  content: "\e91f";
}
.icon-play:before {
  content: "\e920";
}
.icon-pause:before {
  content: "\e92f";
}
.icon-repeat:before {
  content: "\e91a";
}
.icon-check-box:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-pencil:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\f002";
}
.icon-lock:before {
  content: "\f023";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-menu-angle-down:before {
  content: "\e900";
}
.icon-menu-angle-down-1:before {
  content: "\e901";
}
.icon-angle-down:before {
  content: "\e921";
}
.icon-angle-left:before {
  content: "\e922";
}
.icon-angle-right:before {
  content: "\e919";
}
.icon-angle-up:before {
  content: "\e923";
}
.icon-next:before {
  content: "\e409";
}
.icon-prev:before {
  content: "\e40a";
}
.icon-arrow-up:before {
  content: "\e92c";
}
.icon-arrow-down:before {
  content: "\e92b";
}
.icon-arrow-right:before {
  content: "\e929";
}
.icon-arrow-left:before {
  content: "\e92a";
}
.icon-arrow-left-circle:before {
  content: "\e908";
}
.icon-return:before {
  content: "\e91b";
}
.icon-person2:before {
  content: "\e930";
}
.icon-person:before {
  content: "\e93c";
}
.icon-person-fill:before {
  content: "\e7fd";
}
.icon-person-fill-add:before {
  content: "\e7fe";
}
.icon-box2:before {
  content: "\e079";
}
.icon-box3:before {
  content: "\e90d";
}
.icon-gift2:before {
  content: "\e91c";
}
.icon-box:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-error:before {
  content: "\e914";
}
.icon-circle-dollar:before {
  content: "\e91d";
}
.icon-tag:before {
  content: "\e912";
}
.icon-badge:before {
  content: "\e915";
}
.icon-chat:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e911";
}
.icon-global:before {
  content: "\e052";
}
.icon-share:before {
  content: "\e80d";
}
.icon-chat3:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e117";
}
.icon-cross-1:before {
  content: "\e941";
}
.icon-star:before {
  content: "\e924";
}
.icon-star-border:before {
  content: "\e925";
}
.icon-fancy:before {
  content: "\e943";
}
.icon-facebook:before {
  content: "\e931";
}
.icon-skype:before {
  content: "\e932";
}
.icon-tumblr:before {
  content: "\e957";
}
.icon-vk:before {
  content: "\e956";
}
.icon-twitter:before {
  content: "\e933";
}
.icon-vimeo:before {
  content: "\e934";
}
.icon-youtube:before {
  content: "\e935";
}
.icon-snapchat:before {
  content: "\e962";
}
.icon-linkedin:before {
  content: "\e938";
}
.icon-google:before {
  content: "\e93a";
}
.icon-pinterest:before {
  content: "\e939";
}
.icon-instagram:before {
  content: "\e955";
}
.icon-location:before {
  content: "\e902";
}
.icon-location1:before {
  content: "\e93f";
}
.icon-sad-face:before {
  content: "\e93b";
}
.icon-clock:before {
  content: "\e937";
}
.icon-clock3:before {
  content: "\e93d";
}
.icon-clock2:before {
  content: "\e903";
}
.icon-clock4:before {
  content: "\e93e";
}
.icon-search3:before {
  content: "\e90c";
}
.icon-mail-envelope1:before {
  content: "\e940";
}
.icon-mail-envelope:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e936";
}
.icon-leather-derby-shoe:before {
  content: "\e90f";
}
.icon-t-shirt:before {
  content: "\e917";
}
.icon-handbag:before {
  content: "\e913";
}
.icon-business-tie:before {
  content: "\e910";
}
